@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";
[md-theme='sodimac-dark'] {
    /*------------------------- 
    VIEW:   Home Page
    ROUTE:  /app/home
    -------------------------*/
    ion-view.home {
        code-version {
            position: absolute;
            bottom: 8px;
            right: 8px;
            opacity: 0.3;
        }
        ion-header-bar {
            > button {
                &.button-clear {
                    > span.badge {
                        margin-left: -8px;
                        margin-top: 14px;
                    }
                }
            }
            &.bar-custom-header {
                div.container {
                    margin-left: 15%;
                    margin-right: 15%;
                    margin-top: 4px;
                    div.sku {
                        label.item-input {
                            background: #FFF;
                            border: none;
                            text-align: center;
                            border-radius: 3px;
                            > {
                                font-size: 1.4em;
                                padding-right: 8px;
                            }
                            > input {
                                font-size: 2.1em;
                                color: $primary_color;
                                text-align: center;
                                padding-right: 32px;
                                padding-top: 0px;
                                padding-bottom: 0px;
                                &::-webkit-input-placeholder {
                                    color: #808080;
                                    text-transform: uppercase;
                                    font-size: 1em;
                                    line-height: 24px;
                                    padding-top: 2px;
                                }
                                &:-moz-placeholder {
                                    /* Firefox 18- */
                                    color: #808080;
                                }
                                &::-moz-placeholder {
                                    /* Firefox 19+ */
                                    color: #808080;
                                }
                                &:-ms-input-placeholder {
                                    color: #808080;
                                }
                            }
                        }
                    }
                    div.actions {
                        padding: 0px;
                        > div.col {
                            padding: 0px;
                            button {
                                color: #367AC1;
                                padding: 4px 0px;
                                background-color: #FFF;
                                width: 97%;
                                &::before {
                                    font-size: 1.3em !important;
                                }
                            }
                            &:last-child {
                                button {
                                    float: right;
                                }
                            }
                        }
                    }
                }
                div.store {
                    border-bottom: 1px solid #565656;
                    background: #565656;
                    padding: 1px;
                    margin-top: 4px;
                    >div.col {
                        padding: 0px;
                        @include flexbox();
                        @include align-items(flex-start);
                        @include flex-direction(column);
                        &:first-child {
                            padding: 8px 10px 0px 16px;
                            > span {
                                &:first-child {
                                    font-size: 1.2em;
                                }
                                &:last-child {
                                    font-size: 0.8em;
                                    opacity: 0.7;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    width: 100%;
                                    overflow: hidden;
                                }
                            }
                        }
                        &:last-child {
                            button {
                                text-align: right;
                                padding-right: 16px;
                            }
                        }
                    }
                }
            }
        }
        ion-content {
            &.has-subheader {
                top: 217px !important;
            }
            empty-data {
                padding: 0px 24px;
            }
            /* PRODUCT SHEET */
            product-info {
                display: block;
                height: 100%;
                width: 100%;
                padding: 8px 16px;
                > div.title {
                    font-size: 1.2em;
                    line-height: 1em;
                    max-height: 2em;
                    overflow: hidden;
                }
                > div.sku {
                    opacity: 0.7;
                    text-align: left;
                }
                > div.slides {
                    height: 6em;
                    margin-top: 1em;
                    text-align: center;
                    img {
                        height: 100%;
                    }
                }
                > div.price {
                    font-size: 1.6em;
                    padding-top: 8px;
                    text-align: right;
                    color: $primary_color;
                }
                /* ACTIONS */
                > div.actions {
                    padding: 0px;
                    margin-top: 1em;
                    > div.col {
                        > div.legend {
                            font-size: 0.7em;
                            opacity: 0.7;
                            margin-bottom: 4px;
                        }
                        /* CANTIDAD */
                        &:first-child {
                            > div.quantity {
                                @include flexbox();
                                @include align-items(center);
                                > button {
                                    border: 2px solid #565656;
                                    margin: 0px;
                                    font-size: 1.5em;
                                    color: #565656;
                                    min-height: 44px;
                                    font-weight: bold;
                                    width: 1.5em;
                                    height: 1.5em;
                                    min-height: 1.5em;
                                }
                                > input {
                                    font-size: 1.5em;
                                    width: 2em;
                                    text-align: center;
                                    border: 2px solid #565656;
                                    padding: 0px;
                                    min-height: 44px;
                                    border-radius: 6px;
                                    margin: 0px 4px;
                                }
                            }
                        }
                        /* AGREGAR A LA LISTA */
                        &:last-child {
                            > button {
                                margin: 0px;
                                border: 2px solid $accent_color;
                                color: $accent_color;
                                padding: 0px;
                                min-height: 35px;
                                height: 40px;
                                line-height: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}
