<ion-side-menus enable-menu-with-back-views="true" class="layouts app">
    <!-- NAV CONTENT -->
    <ion-side-menu-content drag-content="false">
        <!-- HEADER -->
        <ion-nav-bar align-title="center" class="bar bar-positive">
            <!-- LEFT BUTTON'S -->
            <ion-nav-buttons side="left">
            </ion-nav-buttons>

            <ion-nav-title>
                
            </ion-nav-title>
            <!-- RIGHT BUTTON'S -->
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- CONTENT -->
        <ion-nav-view name="content"></ion-nav-view>
    </ion-side-menu-content>

    <!-- SIDE MENU -->
    <ion-side-menu side="right">
    </ion-side-menu>
</ion-side-menus>
